{% extends 'base.html' %}
{% block conteudo %}  

    <h1>Cadastro Produto</h1>
    <form action="/primeira/produto/create/" method="post">
        {% csrf_token %}
    
        <div>
            <label for="nome">Nome:</label>
            {{form.nome}}
            {{form.nome.errors}}
        </div>
    </form>
    <div>
            <label for="preco">Preço:</label>
            {{form.preco}}
            {{form.preco.errors}}
        </div>   


    <div>
            <label for="quantidade">Quantidade</label>
            {{form.quantidade}}
            {{form.quantidade.errors}}
        </div>      

    <div>
        <label for="carrinho">Carrinho De Compras</label>
        {{form.carrinho_de_compras}}
        {{form.carrinho_de_compras.errors}}
    </div>      

            
    <button type="submit">Salvar</button>            





{% endblock %}    

